#popup {
    position: absolute;
    border: 1px solid gray;
    padding: 10px;
    background: var(--background-blue);
    min-width: 50px;
    min-height: 50px;
}

.toggle-wrapper {
    font-family: Architekt;
}

.toggle-wrapper input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-switch {
    display: inline-block;
    margin-left: 5px;
}

.toggle-switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle-switch label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
}

.toggle-switch input:checked + label {
  background: var(--blue);
}

.toggle-switch input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.toggle-switch label:active:after {
  width: 25px;
}


input[type="checkbox"]::-ms-check {
    display: none;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;

    height: 1.5em;
    width: 1.5em;
    margin: 0px;
    margin-right: 2px;

    border: 1px solid white;
}

input[type="checkbox"]:checked {
    background-color: var(--blue);
}

.checkbox-wrapper{
    margin-left: 10px;
}

input[type=number]{
    height: unset;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

.counter {
    width: 30px;
    border: none;
    text-align: right;
    font-size: 1em;
}

.counter:focus-visible {
    border: none;
    outline: none;
}

.resource {
    position: relative;
    float: right;
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    margin: 2px;
    font-size: medium;
}

.resource-inner {
    margin-top: 25%;
}

.resource-wrapper {
    height: 55px;
}
.resource-wrapper .resource {
    float: left;
}

.resource-hover-check{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.resource:hover .resource-hover-check{
    display: block;
}