@media (max-aspect-ratio: 3/4) {

    #about-nav {
        display: block;
    }

    .search {
        width: 90%;
    }

    #crew-view #nav {
        position: relative;
    }

    #sections {
        margin: 5%;
        margin-top: 1%;
        max-width: unset;
    }

    .section-wrapper{
        display: initial;
        flex-wrap: initial;
    }

    #galaxy-wrapper {
        width: 98vw;
        height: 98vh;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    #galaxy {
        margin-top: 100px;
    }

    #galaxy-search {
        top: 130px;
    }

    #planet-list, #life-signs-list{
        max-height: 300px;
    }

    .accent-line {
        font-size: smaller;
    }

    .outpost-resource-item {
        display: block;
    }

    .perk-cell {
        width: 100px;
        font-size: small;
    }

    .perk-cell input {
        width: 70px;
    }

    .perk-image {
        width: 90px;
    }


}