.outpost-resource-row {
    display: block;
    margin-top: 10px;
}

.outpost-resource-row .resource {
    display: inline-block;
    float: unset;
}

.outpost-resource-item {
    margin-left: 20px;
}

.outpost-resource-row td:last-child {
    padding-top: 5px;
}