.quest h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.quest ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#quests {
    padding-bottom: 20px;
}

.quest {
}
.quest-completed {
    color: gray;
}
.quest-incomplete {
}

.quest-stage {
}
.quest--stage-completed {
    color: gray;
}
.quest-stage-incomplete {
}