@font-face { font-family: Architekt; src: url('/fonts/Architekt-Light.ttf'); }
@font-face { font-family: Grotesk; src: url('/fonts/Grotesk-R-Semibold.ttf'); }


:root {
  --background-blue: #0d1727;
  --red: #c82337;
  --orange: #e06236;
  --yellow: #e06236;
  --blue: #2f4c79;
}

body {
    color: white;
    background-color: var(--background-blue);
    font-family: Grotesk;
}

::-webkit-scrollbar{
    display: none;
}

h1, h2, h3 {
    font-family: Architekt;
}

td {
    vertical-align: top;
}

.hidden {
    display: none;
}

.visible-block {
    display: block;
}

.visible-inline-block {
    display: inline-block;
}

.section-wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.section-view-box{
    display: block;
    max-width: 40%;
    min-width: 300px;
    border: 1px solid gray;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: var(--background-blue);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-button {
    margin-bottom: 10px;
}