#catalogue-view {
}

#search {
    position: relative;
    width: 80%;
    min-width: 300px;
    vertical-align: top;
    margin-top: 5px;
}

#search-icon {
    height: 40px;
}

.system-catalogue-item {
    font-size: large;
}

.planet-catalogue-item {
    margin-left: 5%;
}