#galaxy{
    position: relative;
    width: 98vw;
    height: 98vh;
    overflow: hidden;
    margin: auto;
}

#galaxy-search {
    display: inline-block;
    height: 25px;
    width: 50%;
}

.galaxy-system {
    position: absolute;
}

.galaxy-system:hover .system-name{
    background-position: -100% 0%;
    transition: 1s;
}

.system-circle {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 7px;
    display: block;
    margin: auto;
}

.system-name {
    text-align: center;
    font-size: 14px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, var(--menu-gray) 50%);

}

.system-name-above {
    margin-top: -30px;
}