#misc-stat-view #sections {
    max-width: 1000px;
    margin: auto;
}

#sections .misc-stat-box {
    max-width: 418px;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
}

.stat-table {
    width: 100%
}

.stat-table td:last-child{
    text-align: right;
}

.progress-bar {
    width: 100%;
    height: 20px;
}