@media (max-aspect-ratio: 3/4) {

    .search {
        display: block;
        width: 20%;
    }

    #crew-view #nav {
        position: relative;
    }

    #sections {
        margin: 5%;
        margin-top: 1%;
        max-width: unset;
    }

    .section-wrapper{
        display: initial;
        flex-wrap: initial;
    }

    #galaxy-wrapper {
        width: 98vw;
        height: 98vh;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    #planet-list{
        max-height: 500px;
    }

    .accent-line {
        font-size: smaller;
    }
}