.by-resource-view {
    max-width: unset;
    max-height: unset;
}

.outpost-resource-row {
    display: block;
    margin-top: 10px;
}

.outpost-resource-row .resource {
    display: inline-block;
    float: unset;
}

.outpost-resource-item {
    margin-left: 20px;
}
.outpost-resource-item a {
    margin-right: 5px;
}

.outpost-resource-row td:last-child {
    padding-top: 5px;
}

#organic-resources td:first-child {
    min-width: 100px;
}

.outpost-rename {
}

.favorite-image {
    width: 40px;
}