.perk-row {
    text-align: center;
    display: flex;
    justify-content: space-around;
}


.perk-cell {
    display: inline-block;
    text-align: center;
    text-wrap: balance;
    width: 120px;
    overflow: hidden;
    word-break: break-word;
}

.perk-cell a {
    display: block;
}

.perk-cell input {
    display: block;
    width: 100px;
}

.perk-image {
    display: block;
    margin: auto;
    width: 100px;
}
