.quest summary {
    display: flex;
}

.quest-icon {
    height: 35px;
}

.quest h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.quest ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

#quests {
    padding-bottom: 20px;
}

.quest {
}
.quest-completed {
    color: gray;
}
.quest-incomplete {
}

.quest-wiki-link{
    margin-left: auto;
}

.quest-stage {
}
.quest--stage-completed {
    color: gray;
}
.quest-stage-incomplete {
}

#quest-search {
    max-width: 900px;
    margin: auto;
    margin-bottom: 10px;
}

#quest-search #search {
    display: block;
}
