.quest h3 {
    margin-top: 10px;
}

#quests {
    padding-bottom: 20px;
}

.quest {
}
.quest-completed {
    color: gray;
}
.quest-incomplete {
}

.quest-stage {
}
.quest--stage-completed {
    color: gray;
}
.quest-stage-incomplete {
}