.research {
    background-color: #c8ccc9;
    color: #030303;
    font-family: Architekt;
    padding: 50px;
    position: relative;
    margin: auto;
}
.research-accent {
    background-color: #596365;
    color: white;
    font-size: xx-large;
    margin-top: -20px;
    margin-right: -50px;
    margin-left: -50px;
    padding: 10px;
    padding-left: 20px;
}

.research2:hover {
    background-color: #71777a;
}

.research-category{
    background-color: #a9aead;
    margin: 10px;
    width: 90px;
    height: 90px;
    padding: 10px;
    display: flex;
}

.research-pic {
    margin: auto;
    display: block;
}

.research-section {

}
