@font-face { font-family: Architekt; src: url('../fonts/Architekt-Light.ttf'),  url('/fonts/Architekt-Light.ttf'); }
@font-face { font-family: Grotesk; src: url('../fonts/Grotesk-R-Semibold.ttf'),  url('/fonts/Grotesk-R-Semibold.ttf'); }


:root {
  --background-blue: #0d1727;
  --red: #c82337;
  --orange: #e06236;
  --yellow: #d7ab61;
  --blue: #2f4c79;
  --menu-gray: #2d343c;
}

body {
    color: white;
    font-size: large;
    background-color: var(--background-blue);
    font-family: Grotesk;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background: var(--background-blue);
}

::-webkit-scrollbar-track {
  background: var(--background-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}


h1, h2, h3, h4 {
    font-family: Architekt;
}

h2 {
    margin-top: 10px;
}


td {
    vertical-align: top;
}

button {
    color: white;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, var(--background-blue) 50%, var(--menu-gray) 50%);
	border: 1px solid gray;
	padding: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	font-family: Architekt;
    transition: 1s;
}

button:hover{
    background-position: -100% 0%;
}

.button-pushed{
    background-position: -100% 0%;
}

textarea {
    color: white;
    background-color: var(--background-blue);
    width: 95%;
    height: 80px;
    border: none;
    outline: none;
}

input {
    color: white;
    background-color: var(--background-blue);
    border: 1px solid gray;
    height: 30px;
}

select {
    color: white;
    background-color: var(--background-blue);
}

a {
    color: white;
}

blockquote {
    background-color: gray;
    margin-left: 0;
    padding-left: 1%;
}

details {
  user-select: none;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.hidden {
    display: none !important;
}

.visible-block {
    display: block;
}

.visible-inline-block {
    display: inline-block;
}

.section-wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.section-view-box{
    display: block;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: var(--background-blue);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    width: 90%;
    max-width: 600px;
}

.accent-line {
    width: 95%;
    height: 30px;
    background-image: linear-gradient(140deg, var(--blue) 10%, var(--red) 10%, var(--red) 13%, var(--orange) 13%, var(--orange) 15%, var(--yellow) 15%, var(--yellow) 16.5%, white 16.5%);
    text-align: center;
    color: black;
    font-family: Architekt;
    font-weight: bold;
    padding-top: 5px;
}

#sections {
    position: relative;
    margin-left: 20%;
    max-width: 75%;
}

#sections .section-view-box {
    max-width: 900px;
}
