@font-face { font-family: Architekt; src: url('fonts/Architekt-Light.ttf'),  url('/fonts/Architekt-Light.ttf'); }
@font-face { font-family: Grotesk; src: url('fonts/Grotesk-R-Semibold.ttf'),  url('/fonts/Grotesk-R-Semibold.ttf'); }


:root {
  --background-blue: #0d1727;
  --red: #c82337;
  --orange: #e06236;
  --yellow: #e06236;
  --blue: #2f4c79;
  --menu-gray: #2d343c;
}

body {
    color: white;
    background-color: var(--background-blue);
    font-family: Grotesk;
}

::-webkit-scrollbar{
    display: none;
}

h1, h2, h3 {
    font-family: Architekt;
}

td {
    vertical-align: top;
}

button {
    color: white;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, var(--background-blue) 50%, var(--menu-gray) 50%);
	border: 1px solid gray;
	padding: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	font-family: Architekt;
}

button:hover{
    background-position: -100% 0%;
    transition: 1s;
}

textarea {
    color: white;
    background-color: var(--background-blue);
    width: 95%;
    height: 80px;
}

input {
    color: white;
    background-color: var(--background-blue);
    border: 1px solid gray;
    height: 30px;
}

select {
    color: white;
    background-color: var(--background-blue);
}

.hidden {
    display: none;
}

.visible-block {
    display: block;
}

.visible-inline-block {
    display: inline-block;
}

.section-wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.section-view-box{
    display: block;
    max-width: 90%;
    min-width: 300px;
    border: 1px solid gray;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: var(--background-blue);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}