:root {
  --background-blue: #0d1727;
  --red: #c82337;
  --orange: #e06236;
  --yellow: #e06236;
  --blue: #2f4c79;
}

body {
    color: white;
    background-color: var(--background-blue);

}

.hidden {
    display: none;
}

.visible-block {
    display: block;
}

.visible-inline-block {
    display: inline-block;
}

.section-wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.section-view-box{
    display: block;
    width: 20%;
    min-width: 300px;
    max-height: 80vh;
    border: 1px solid gray;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: var(--background-blue);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.section-view-box::-webkit-scrollbar{
    display: none;
  }
