

#system-title {
}

#system-view{
    margin-left: 5%;
}

.system-view-box td{
    padding-right: 15px;
}

#orrery {
    text-align: center;
    padding-right: 10px;
    padding-bottom: 10px;
}

#current-hover {
    margin-bottom: 20px;
}

#detail-view {
}

.resource-td {
    vertical-align: top;
}

#system-map {
    white-space: nowrap;
    overflow-x: scroll;
}

.system-star-circle {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: var(--background-blue);
    border: 3px solid white;
    transition: .5s;
}

.planet-column {
    display: inline-block;
    vertical-align: top;
    margin-top: 28px;
}

.system-planet-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: var(--background-blue);
    border: 3px solid white;
    display: inline-block;
    margin: auto;
    margin-bottom: -3px;
    transition: .5s;
}

.orrery-line {
    width: 2px;
    border: none;
    height: 30px;
    background-color: white;
    margin-top: -3px;
    margin-bottom: 0px;
}

.system-moon-circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--background-blue);
    border: 3px solid white;
    vertical-align: top;
    margin: auto;
    transition: .5s;
}

.planet-spacer {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    margin-top: 47px;
}

.selected-circle {
    background-color: white;

}

#detail-view table, #player-info-notes table {
    width: 100%;
}

#detail-view td, #user-info td {
    width: 50%;
}