:root {
  --background-blue: #0d1727;
  --red: #c82337;
  --orange: #e06236;
  --yellow: #e06236;
  --blue: #2f4c79;
}

body {
    color: white;
    background-color: var(--background-blue);

}

#galaxy{
    position: relative;
    width: 98vw;
    height: 98vh;
    overflow: hidden;
    margin: auto;
}

.galaxy-system {
    position: absolute;
}

.system-circle {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 7px;
    display: block;
    margin: auto;
}

.system-name {
    text-align: center;
    font-size: 14px;
}

.system-name-above {
    margin-top: -30px;
}

#system-title {
}


.system-star-circle {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
}

.planet-row {
    margin-bottom: 10px;
}

.system-planet-circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
}

.system-moon-circle {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    view-transition-name: stars;
}

.star-layer {
    height: 100%;
    position: fixed;
    top: 0;
}

#star-layer-0 {
    animation: stars-anim-0 linear;
    animation-timeline: scroll(root block);
}
#star-layer-1 {
    animation: stars-anim-1 linear;
    animation-timeline: scroll(root block);
    -webkit-filter: blur(1px);
}
#star-layer-2 {
    animation: stars-anim-2 linear;
    animation-timeline: scroll(root block);
    -webkit-filter: blur(1px);
    opacity: .8;
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}